body{background-color:rgb(50,72,96);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:center;
  color: white;}
  
.image{margin-left: auto;margin-right:auto;width:28em;margin-top:10em;}

h1{text-align: center;font-size: 3em;}

p{text-align: center;font-size: 2em;}

.conteneur{display: flex;justify-content: space-around;}

.hello{margin-left: 20em;margin-right: 20em;}

.gauche{
  padding: 20px;
  width:420px;
  height: 250px;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255,255,255,0.5);
  color:black
}

.gauche:hover{
  background:url('gauche.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  
  color: white}

.gauche:hover a{
  color: white}

.centre{
  padding: 20px;
  width:420px;
  height:250px ;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255,255,255,0.6);
  color: black
}

.centre:hover{
  background-image:url('centre.jpg');
  background-size: 100%;
  background-repeat: no-repeat; 
  color: white}

.centre:hover a{
  color: white}



.droite{
  padding: 20px;
  width:420px;
  height:250px ;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 0px 0px 0px 0px;
  background-color:rgba(255,255,255,0.7);
  color: black
}

.droite:hover{
  background:url('droite.jpg');
  background-size: 100%;
  background-repeat: no-repeat;   
  color: white}

.droite:hover a{
  color: black}